.about-us {
  background-color: #EDEFEE;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 1.25rem 2.5rem 1.25rem 0;
  min-height: 22rem;
  margin-bottom: auto;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: auto;
}

.about-subtext {
  margin-top: -1.5rem;
  color: black;
}

.double-image {
  max-height: 18rem;
  position: relative;
  top: 4rem;
  left: 2rem;
}

.double-image > img {
  width: 60%;
  height: 80%;
  object-fit: contain;
}

.about-1 {
  position: relative;
  top: 2rem;
  left: 0;
  z-index: 1;
}

.about-2 {
  position: absolute;
  top: -2.5rem;
  left: 5rem;
}

.about-us .hero-text .title-about{
  color: black;
  padding-top: 1rem;
}

.about-us .hero-text .subtitle-about{
  color: black;
  margin-top: 0;
  margin-bottom: 4rem;
}