textarea {
  background-color: #eeeeee;
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 0.2rem;
  resize: none;
}

label,
input,
select,
textarea {
font-family: "Karla";
}

  .reservation-form {
    padding: 2rem 0 0.5rem 0;
    text-align: center;
    margin-top: 10rem;
  }

  .reservation-form > div {
    margin-bottom: 1.5rem;
  }

  .action-button {
    background-color: #f4ce14;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.2rem;
    font-family: "Karla";
    font-size: 2rem;
  }
  
  .action-button:hover {
    background-color: #495e57;
    color: #eeeeee;
    border-style: solid;
    border-width: 1px;
    border-color: #edefee;
    transition: 0.2s;
  }

  a:visited{
    text-decoration: none;
    color: black;
  }