  .confirmation-header {
    position: relative;
    text-align: center;
    color: white;
    margin-top: -1.4rem;
    min-height: 70vh;
    margin-bottom: auto;
  }

  .confirmation-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .redirect-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 55%;
    position: absolute;
    top: 85%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  .redirect-button {
    background-color: #464646;
    color: white !important;
    padding: 2vh 2rem 2vh 2rem;
    border-radius: 0.5rem;
    min-width: 12vw;
    font-family: "Karla";
    font-size: 18px;
  }

  .redirect-button:hover {
    background-color: #f4ce14;
    color: #464646;
    transition: .9s;
  }