.footer-list{
    display: flex;
    color: #EDEFFE;
    width: 100vw;
    margin-top: 2%;
    margin-bottom: 0;
    background-color: #495E57;
    justify-content: space-evenly;
}

.footer-list ul li{
    list-style-type: none;
    cursor: pointer;
}

.footer-list ul li:first-child {
    font-weight: bold;
    color: #FAC414;
  }

  .footer-list ul li:not(:first-child):hover {
    text-decoration: underline;
  }
.footer-list img{
  max-height: 5rem;
  top: 50%;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  margin-top: 1.2rem;
}
