header {
    position: relative;
    overflow: visible;
    margin-top: 5rem;
  }

  .hero-content {
    background-color: #495E57;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero-text {
    flex: 2;
    color: #EDEFEE;
    margin-left: 15%;
    align-items: flex-start;
  }
  .hero-text h1, h4{
    margin: 0;
    font-family: 'Markazi Text', serif;
    font-weight: normal;
    line-height: 0.8;
  }

  .hero-text h1{
    font-size: 4em;
    color: #f4cf14bd;
    margin-top: 2%;
  }

  .hero-text h4{
    font-size: 2.5em;
  }

  .hero-text p{
    margin-bottom: 5px;
    font-weight: 500;
  }

  #food {
    position: absolute;
    top: 0;
    right: 0;
    width: 17%;
    height: 110%;
    margin-top: 2%;
    margin-right: 20%;
    border-radius: 5%;
  }

  .btn-hero{
    background: #F4CE14;
    color: black;
    border-radius: 10px;
    padding: 1%;
    font-weight: 800;
    border-style: none;
    margin-bottom: 1.5%;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: 1rem;
  }

  .btn-hero:hover{
    background: #ffdd35;
    transition: all ease-in .1s;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

