nav{
    overflow: auto;
    margin-bottom: 1%;
    min-height: 64px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
  }

  nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #f4CE14;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  nav ul li a:hover::after {
    transform: scaleX(1);
  }

nav a {
    text-decoration: none;
    font-weight: bold;
  }

nav ul li:last-child{
    margin-right: 30%;
}
nav ul li:first-child{
    margin-left: 5%;
}

nav img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 15%;
    padding-top: .5%;
    cursor: pointer;
    width: 100px;
    height: auto;
    top: 5px;
}

a{
    text-decoration: none;
    font-weight: bold;
}
